{{#each posts}}
  <div class="container post-item">
    <div class="inner">
      <div class="img-container">
        <img class="img-scale avatar" src='{{#if author.avatar}}{{author.avatar}}{{else}}img/av.png{{/if}}'>
      </div>
      <div class="content-container">
        <p class="title-text"><a href="/posts/{{_id}}/{{slug}}">{{title}}</a></p>
        <p class="meta" data-livestamp="{{ts timestamp}}"></span></p>
        {{#if this.image}}
          <div class="image-container" style="background-image: url('{{image}}')";></div>
        {{/if}}
        <p class="body-text">{{body}}</p>
        <p class="meta sig">by <a href="{{#if author.social}}{{author.social.twitter}}{{else}}http://twitter.com/marshallzBlog{{/if}}">{{#if author.username}}{{author.username}}{{else}}Marshall{{/if}}</a></p>
      </div>
    </div>
  </div>
{{/each}}