{{#each posts}}
  <div class="container post-item">
    <div class="post-item__content">
      <div class="post-item__header">
        <a href="/author/{{author.username}}/posts">
          <div class="post-item__avatar" style="background-image: url('{{#if author.avatar}}{{author.avatar}}{{else}}img/av.png{{/if}}')"></div>
        </a>
        <div class="post-item__content-meta">
          <div class="post-item__content-author">
            <a href="/author/{{author.username}}/bio">{{author.username}}</a>
            <span class="fa fa-circle"></span>
            <span class="post-item__author-tag">Author</span>
          </div>
          <div class="post-item__content-timestamp" data-livestamp="{{ts timestamp}}"></div>
        </div>
      </div>
      <a href="/posts/{{_id}}/{{slug}}">
        {{#if image}}
          <div class="post-item__content-image" style="background-image: url('{{image}}')";></div>
        {{/if}}
        <div class="post-item__content-title">{{title}}</div>
      </a>
      <div class="post-item__content-body">{{body}}</div>
      <div class="post-item__content-social"><div class="post-item__content-author"><a href="{{author.social.twitter}}" target="_blank">{{author.username}} on <span class="fa fa-twitter"></span></a></div></div>
    </div>
  </div>
{{/each}}
{{#if message}}<h3>{{message}}</h3>{{/if}}