<section id="detail">
  <div class="blog-posts">
    <div class="container post-item">
      <div class="post-item__content">
        <div class="post-item__header">
          <a href="/author/{{author.username}}/posts">
            <div class="post-item__avatar" style="background-image: url('{{#if author.avatar}}{{author.avatar}}{{else}}img/av.png{{/if}}')"></div>
          </a>
          <div class="post-item__content-meta">
            <div class="post-item__content-author">
              <a href="{{#if author.social}}{{author.social.twitter}}{{else}}http://twitter.com/marshallzBlog{{/if}}" target="_blank">{{#if author.username}}{{author.username}}{{else}}Marshall{{/if}}</a>
              <span class="fa fa-circle"></span>
              <span class="post-item__author-tag">Author</span>
            </div>
            <div class="post-item__content-timestamp" data-livestamp="{{ts timestamp}}"></div>
          </div>
        </div>
        <a href="/posts/{{_id}}/{{slug}}">
          {{#if this.image}}
            <div class="post-item__content-image" style="background-image: url('{{image}}')";></div>
          {{/if}}
          <div class="post-item__content-title">{{title}}</div>
        </a>
        <div class="post-item__content-body">{{body}}</div>
      </div>
    </div>
  </div>
  <div class="author-bio">
    <div class="author-bio__content">
      <div class="post-item__avatar" style="background-image: url('{{#if author.avatar}}{{author.avatar}}{{else}}img/av.png{{/if}}')"></div>
      <div class="post-item__content-body">Marshall has lived on four continents and traveled to more than 150 countries, graduated from Harvard, studied law at Oxford University as a Rhodes Scholar, and then studied Arabic in Cairo. In his free time also teaches at Yale University, and is a member of the American Academy of Arts and Sciences</div>
    </div>
  </div>
</section>